body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  width: 100%;
}

.page-container {
	width: 900px;
	margin: 10px auto;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
}

h2 {
	margin-left: 20px;

}
nav ul li {
	padding-right: 10px;
}

.product-listing {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

.product-listing .product-list-item {
	padding: 10px 30px;
	width: 200px;
}

.product-listing button {
	background: #333;
    border: 1.25px solid #333;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    color: #fff;
    line-height: 1.6;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    padding: 5px 10px;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.cart {
	display: block;
	width:100%;
}
.cart button {
	 padding: 5px 10px;
	 background: #333;
    border: 1.25px solid #333;
      color: #fff;
}

.cart th {
	width: 200px;
}

.cart td {
	text-align: center;
}

.cart .quantity {
	display: flex;
	justify-content: center;
	align-items: center; 
}

.cart .quantity button {
	margin-left: 5px;
	margin-right: 5px;
}

.cartHeader {
	display: grid
}

.product-listing .removeButton {
	background: coral;
	border-color: coral;
}